<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSP2P.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSP2P.Properties.Settings>
            <setting name="remUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="windowSizeMain" serializeAs="String">
                <value>285, 569</value>
            </setting>
            <setting name="windowPosMain" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="remWindowMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultNIC" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultIPNodeName" serializeAs="String">
                <value />
            </setting>
        </CSP2P.Properties.Settings>
    </userSettings>
</configuration>